@import '_variables';
@import '_mixins';
@import '_base';
@import 'header/header';

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
  &-main {
    flex: 1;
    padding-top: 80px; // Account for fixed header
    
    @include mobile {
      padding-top: 70px;
    }
    
    .next-section {
      padding: 4rem 0;
      background: $background-light;
      text-align: center;
      
      h2 {
        color: $text-light;
        font-size: 1.5rem;
        font-weight: 400;
      }
    }
  }
  
  &-footer {
    background: linear-gradient(135deg, $accent-color, $primary-color);
    color: white;
    text-align: center;
    padding: $spacing-lg 0;
    
    p {
      margin: 0;
      font-size: $font-sm;
      opacity: 0.9;
    }
  }
}